<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/bas.css">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <div class="center">
    <div class="head flex">
      <div class="f18">首页</div>
      <div>
        <% if(login){ %>
          <p class="f0 flex">
            <span class="f18"><%= name%></span>
            <img src="/images/default.jpg" />
          </p>
        <% }else{ %>
          <p class="flex"><%= msg%> <a href="/login"> 登录 </a> <a href="/register"> 注册 </a> </p>
        <% } %>
      </div>
    </div>
    <div class="list"></div>
    <div class="bottom">
      <div>
        <p class="f18">标题: </p>
        <input type="text" class="title" />
      </div>
      <div>
        <p class="f18">内容: </p>
        <textarea class="content" id="" cols="30" rows="10"></textarea>
      </div>
      <button class="btn">提交</button>
    </div>
  </div>

  <script src="/js/jquery-1.9.1.min.js"></script>
  <script>
    $(function(){
      $.ajaxSetup({
        contentType : 'application/json;charset=utf-8'
      });
      let data = {
        limit: 10,
        page: 0,
      }
      $.ajax({
        type: 'POST',
        url: "/getForum",
        data: JSON.stringify(data),
        success: function(res){
          if(res.success){
            let list = res.data.list;
            list.forEach( item => {
              $(".list").append(`
                <div class="item">
                  <h4 class="f18">`+item.title+`</h4>
                  <p class="f12 c9"> 作者：`+item.author +'  发表时间：'+ new Date(item.dateTime)+`</p>
                  <p class="f14">`+item.content+`</p>
                  
                </div>
              `)
            })
          }else{
            console.log(res.msg)
          }
        },
      });
      $(".btn").click(function(){
        let data = {
          title: $(".title").val(),
          content: $(".content").val(),
          author: '<%= name %>'
        }
        $.ajax({
          type: 'POST',
          url: "/addForum",
          data: JSON.stringify(data),
          success: function(res){
            if(res.success){
              $(".title").val('');
              $(".content").val('');
              alert('提交成功');
            }
          }
        })
      })
    });
  </script>
</body>
</html>