<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    *{
      margin: 0;
      padding: 0;
    }
    .flex{
      display: flex;
      justify-content: space-between;
    }
    .center{
      width: 800px;
      margin: 0 auto;
    }
    .head{
      line-height: 48px;
      font-size: 16px;
    }
    .head img{
      width: 48px;
      height: 48px;
    }
    .item{
      margin-bottom: 50px;
    }
    .bottom{
      margin-top: 300px;
    }
    .bottom input,.bottom textarea{
      width: 100%;
    }
    .f12{
      font-size: 12px;
    }
    .c9{
      color: #999;
    }
  </style>
</head>
<body>
  <div class="center">
    <div class="head flex">
      <div>首页</div>
      <div>
        <% if(login){ %>
          <p><%= name%> <img src="/images/default.jpg"></p>
        <% }else{ %>
          <p><%= msg%></p>
          <a href="/login">登录</a>
          <a href="/register">注册</a>
        <% } %>
      </div>
    </div>
    <div class="list"></div>
    <div class="bottom">
      <div>
        <p>标题</p>
        <input type="text" class="title" />
      </div>
      <div>
        <p>内容</p>
        <textarea class="content" id="" cols="30" rows="10"></textarea>
      </div>
      <button class="btn">提交</button>
    </div>
  </div>

  <script src="/js/jquery-1.9.1.min.js"></script>
  <script>
    $(function(){
      $.ajaxSetup({
        contentType : 'application/json;charset=utf-8'
      });
      let data = {
        limit: 10,
        page: 0,
      }
      $.ajax({
        type: 'POST',
        url: "/getForum",
        data: JSON.stringify(data),
        success: function(res){
          if(res.success){
            let list = res.data.list;
            list.forEach( item => {
              $(".list").append(`
                <div class="item">
                  <h4>`+item.title+`</h4>
                  <p class="f12 c9"> 作者：`+item.author +'  发表时间：'+ new Date(item.dateTime)+`</p>
                  <p>`+item.content+`</p>
                  
                </div>
              `)
            })
          }else{
            console.log(res.msg)
          }
        },
      });
      $(".btn").click(function(){
        let data = {
          title: $(".title").val(),
          content: $(".content").val(),
          author: <%= name %>
        }
        $.ajax({
          type: 'POST',
          url: "/addForum",
          data: JSON.stringify(data),
          success: function(res){
            if(res.success){}
          }
        })
      })
    });
  </script>
</body>
</html>