
.center{
  width: 800px;
  margin: 0 auto;
}
.head{
  line-height: 48px;
  font-size: 16px;
}
.head .f0 .f18{
  margin-right: 10px;
}
.head img{
  width: 48px;
  height: 48px;
}
.item{
  margin-bottom: 50px;
}
.bottom{
  margin-top: 100px;
}
.bottom .f18{
  margin: 10px 0;
}
.bottom input,.bottom textarea{
  width: 100%;
  line-height: 28px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #e5e5e5;
}
.btn{
  width: 100px;
  color: #fff;
  font-size: 18px;
  line-height: 48px;
  border-radius: 4px;
  outline: none;
  background: #198afa;
}